html, body {
    margin: 0px;
    padding: 0px;
}

#button {
    margin-bottom: 20px;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 10px;
    -webkit-transition: all 600ms linear;
    -moz-transition: all 600ms linear;
    -o-transition: all 600ms linear;
    -ms-transition: all 600ms linear;
    transition: all 600ms linear;
}

