#button {
	margin-bottom: 20px;
}

.square {
	-webkit-transition: transform 600ms linear;
	-moz-transition: transform 600ms linear;
	-o-transition: transform 600ms linear;
	-ms-transition: transform 600ms linear;
	transition: transform 600ms linear;
}