html, body {
    margin: 0px;
    padding: 0px;
}

#button {
    margin-bottom: 20px;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    opacity: 0;
}

