html, body {
    margin: 0px;
    padding: 0px;
}

#button {
    margin-bottom: 20px;
}

.graphic_primitive {
    position: absolute;
    background-color: blue;
    -webkit-transition: all 600ms linear;
    -moz-transition: all 600ms linear;
    -o-transition: all 600ms linear;
    -ms-transition: all 600ms linear;
    transition: all 600ms linear;
}

.square {
    width: 20px;
    height: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.line {
    width: 2px;
    height: 20px;
}
