html, body {
    margin: 0px;
    padding: 0px;
}

#button {
    position: absolute;
    top: 30px;
}

.box {
    position: absolute;
    background-color: #384ecc;
}

.svgContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}