#button {
	margin-bottom: 20px;
}

.box {
	-webkit-transition: all 600ms linear;
	-moz-transition: all 600ms linear;
	-o-transition: all 600ms linear;
	-ms-transition: all 600ms linear;
	transition: all 600ms linear;
}